#:schema https://schemas.spinframework.dev/spin/manifest-v2/latest.json

spin_manifest_version = 2

[application]
name = "monitor-api"
version = "0.1.0"
authors = ["Dave Gill <d.gill@stem.org.uk>"]
description = "Returns monitoring information about a machine"

[[trigger.http]]
route = "/metrics/..."
component = "monitor-api"

[component.monitor-api]
source = "../target/wasm32-wasip1/release/spin_app.wasm"
allowed_outbound_hosts = ["http://127.0.0.1:8001"]
[component.monitor-api.build]
command = "cargo build --target wasm32-wasip1 --release"
watch = ["src/**/*.rs", "Cargo.toml"]
